body {
    overflow-x: hidden;
    font-family: 'Roboto Slab', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
p {
    line-height: 1.75;
}
a {
    color: #4e2794;
}
a.active,
a:active {
    color: lightblue;
}
a:focus,
a:hover {
    color: #4e2794;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
    font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-transform: uppercase;
}
section {
    padding: 100px 0;
}
section h2.section-heading {
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 15px;
}
section h3.section-subheading {
    font-size: 16px;
    font-weight: 400;
    font-style: italic;
    margin-bottom: 75px;
    text-transform: none;
    font-family: 'Droid Serif', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
@media (min-width: 768px) {
    section {
        padding: 50px 0;
    }
}
::-moz-selection {
    background: #4e2794;
    text-shadow: none;
}
::selection {
    background: #4e2794;
    text-shadow: none;
}
img::selection {
    background: transparent;
}
img::-moz-selection {
    background: transparent;
}
body {
    -webkit-tap-highlight-color: #4e2794;
}
.offcanvas-btn {
    z-index: 100000;
    position: fixed;
    top: 8%;
    left: 3%;
    height: 50px;
    width: 50px;
    background: #4e2794;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-left: 0;
    transition: all 0.3s ease;
    color: white;
}
.offcanvas-btn-open {
    margin-left: 80vw;
}
.offcanvas-aside {
    position: fixed;
    height: 100%;
    z-index: 100000;
    background: lightblue;
    width: 80vw;
    left: -80vw;
    transition: all 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.offcanvas-aside img {
    border-radius: 50%;
}
.offcanvas-aside p {
    text-align: center;
}
.offcanvas-aside .offcanvas-content-suffix {
    height: 20%;
}

@media (min-width: 575px) {
    .offcanvas-btn-open {
        margin-left: 30vw;
    }
    .offcanvas-aside {
        width: 30vw;
        left: -30vw;
    }
}
.offcanvas-aside-open {
    left: 0;
}

.offcanvas-aside #contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: space-between;
    width: 100%;
    padding: 0px 20px;
}

.offcanvas-aside #contact p {
    font-weight: bold;
}

.offcanvas-aside #contact input {
    margin-top: 5px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.offcanvas-aside #contact textarea {
    margin-top: 5px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.offcanvas-aside #contact [name] {
    margin: 0 auto;
    width: 100%;
}

.offcanvas-aside #contact button {
    margin: 20px;
}

#mainNav {
    background-color: #222222;
    z-index: 100;
}
#mainNav .navbar-toggler {
    font-size: 12px;
    right: 0;
    padding: 13px;
    text-transform: uppercase;
    color: white;
    border: 0;
    background-color: #4e2794;
    font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-transform: uppercase;
}
#mainNav .navbar-brand {
    color: white;
    font-family: 'Kaushan Script', 'Helvetica Neue', Helvetica, Arial, cursive;
}
#mainNav .navbar-brand.active,
#mainNav .navbar-brand:active,
#mainNav .navbar-brand:focus {
    color: lightblue;
}
#mainNav .navbar-brand:hover {
    color: #4e2794;
}
#mainNav .navbar-nav .nav-item .nav-link {
    font-size: 90%;
    font-weight: 400;
    padding: 0.75em 0;
    letter-spacing: 1px;
    color: white;
    font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-transform: uppercase;
}
#mainNav .navbar-nav .nav-item .nav-link.active,
#mainNav .navbar-nav .nav-item .nav-link:hover {
    color: lightblue;
}
@media (min-width: 992px) {
    
    #mainNav {
        padding-top: 25px;
        padding-bottom: 25px;
        -webkit-transition: padding-top 0.3s, padding-bottom 0.3s;
        -moz-transition: padding-top 0.3s, padding-bottom 0.3s;
        transition: padding-top 0.3s, padding-bottom 0.3s;
        border: none;
        background-color: transparent;
    }
    #mainNav .navbar-brand {
        font-size: 1.75em;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        transition: all 0.3s;
    }
    #mainNav .navbar-nav .nav-item .nav-link {
        padding: 1.1em 1em !important;
    }
    #mainNav.navbar-shrink {
        padding-top: 0;
        padding-bottom: 0;
        background-color: #222222;
    }
    #mainNav.navbar-shrink .navbar-brand {
        font-size: 1.25em;
        padding: 12px 0;
    }
   
}
header.masthead {
    text-align: center;
    color: white;
    background-image: url("../img/header-bg.jpg");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
header.masthead .intro-text {
    padding-top: 150px;
    padding-bottom: 100px;
}
header.masthead .intro-text .intro-lead-in {
    font-size: 22px;
    font-style: italic;
    line-height: 22px;
    margin-bottom: 25px;
    font-family: 'Droid Serif', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
header.masthead .intro-text .intro-heading {
    font-size: 50px;
    font-weight: 700;
    line-height: 50px;
    margin-bottom: 25px;
    font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-transform: uppercase;
}
@media (min-width: 768px) {

    header.masthead .intro-text .intro-lead-in {
        font-size: 40px;
        font-style: italic;
        line-height: 40px;
        margin-bottom: 25px;
        font-family: 'Droid Serif', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    }
    header.masthead .intro-text .intro-heading {
        font-size: 75px;
        font-weight: 700;
        line-height: 75px;
        margin-bottom: 50px;
        font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
        text-transform: uppercase;
    }
}
.service-heading {
    margin: 15px 0;
    text-transform: none;
}
#portfolio .portfolio-item {
    width: 100%;
    right: 0;
    margin: 0 0 15px;
}
#portfolio .portfolio-item .portfolio-link {
    position: relative;
    display: block;
    max-width: 400px;
    margin: 0 auto;
    cursor: pointer;
}
#portfolio .portfolio-item .portfolio-link .portfolio-hover {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-transition: all ease 0.5s;
    -moz-transition: all ease 0.5s;
    transition: all ease 0.5s;
    opacity: 0;
    background: rgba(78, 39, 148, 0.9);
    border-radius: 2rem;
}
#portfolio .portfolio-item .portfolio-link .portfolio-hover:hover {
    opacity: 1;
}
#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content {
    font-size: 20px;
    position: absolute;
    top: 50%;
    width: 100%;
    height: 20px;
    margin-top: -12px;
    text-align: center;
    color: white;
}
#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content i {
    margin-top: -12px;
}
#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h3,
#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h4 {
    margin: 0;
}
#portfolio .portfolio-item .portfolio-caption {
    max-width: 400px;
    margin: 0 auto;
    padding: 25px;
    text-align: center;


}
#portfolio .portfolio-item .portfolio-caption h4 {
    margin: 0;
    text-transform: none;
}
#portfolio .portfolio-item .portfolio-caption p {
    font-size: 16px;
    font-style: italic;
    margin: 0;
    font-family: 'Droid Serif', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
#portfolio * {
    z-index: 2;
}
@media (min-width: 767px) {
    #portfolio .portfolio-item {
        margin: 0 0 30px;
    }
}

.portfolio-item {
    background-color: #4e279469;
    border: 5px solid #4e2794;
    border-radius: 2.5rem;
}

.portfolio-img {
    max-width: 100%;
    height: auto;
    border-radius: 2rem;
}

.portfolio-text {
    color: #f0f8ff;
}

.portfolio-modal .modal-dialog .hide {
    max-width: none;
    display: none;
}

.portfolio-modal .modal-dialog {
    height: 100%;
    margin: 0;
}
.portfolio-modal .modal-content {
    min-height: 100%;
    padding: 100px 0;
    text-align: center;
    border: none;
    border-radius: 0;
    background-clip: border-box;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.portfolio-modal .modal-content h2 {
    font-size: 3em;
    margin-bottom: 15px;
}
.portfolio-modal .modal-content p {
    margin-bottom: 30px;
}
.portfolio-modal .modal-content p.item-intro {
    font-size: 16px;
    font-style: italic;
    margin: 20px 0 30px;
    font-family: 'Droid Serif', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.portfolio-modal .modal-content ul.list-inline {
    margin-top: 0;
    margin-bottom: 30px;
}
.portfolio-modal .modal-content img {
    border-radius: 10px;
    margin-bottom: 30px;
}

.modal-img {
    max-width: 60%;
    margin: auto;
}

.modal-footer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(40px,1fr));
    grid-gap: 10px;
    max-width: 100%;
}

.projModal {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 500;
    margin: auto;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.modal-title {
    padding-right: 0.5em;
    text-transform: initial;
}

.modal-dialog {
    text-align: center;
}

.modal-body ul {
    list-style-type: none;
}

.portfolio-modal .modal-content button {
    cursor: pointer;
}
.portfolio-modal .close-modal {
    position: absolute;
    top: 25px;
    right: 25px;
    width: 75px;
    height: 75px;
    cursor: pointer;
    background-color: transparent;
}
.portfolio-modal .close-modal:hover {
    opacity: 0.3;
}
.portfolio-modal .close-modal .lr {
    /* Safari and Chrome */
    
    z-index: 1051;
    width: 1px;
    height: 75px;
    margin-left: 35px;
    /* IE 9 */
    
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    background-color: #222222;
}
.portfolio-modal .close-modal .lr .rl {
    /* Safari and Chrome */
    
    z-index: 1052;
    width: 1px;
    height: 75px;
    /* IE 9 */
    
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    background-color: #222222;
}
.portfolio-modal .modal-backdrop {
    display: none;
    opacity: 0;
}
.timeline {
    position: relative;
    padding: 0;
    list-style: none;
}
.timeline:before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 40px;
    width: 2px;
    margin-left: -1.5px;
    content: '';
    background-color: #f1f1f1;
}
.timeline > li {
    position: relative;
    min-height: 50px;
    margin-bottom: 50px;
}
.timeline > li:after,
.timeline > li:before {
    display: table;
    content: ' ';
}
.timeline > li:after {
    clear: both;
}
.timeline > li .timeline-panel {
    position: relative;
    float: right;
    width: 100%;
    padding: 0 20px 0 100px;
    text-align: left;
}
.timeline > li .timeline-panel:before {
    right: auto;
    left: -15px;
    border-right-width: 15px;
    border-left-width: 0;
}
.timeline > li .timeline-panel:after {
    right: auto;
    left: -14px;
    border-right-width: 14px;
    border-left-width: 0;
}
.timeline > li .timeline-image {
    position: absolute;
    z-index: 100;
    left: 0;
    width: 80px;
    height: 80px;
    margin-left: 0;
    text-align: center;
    color: white;
    border: 7px solid #f1f1f1;
    border-radius: 100%;
    background-color: #4e2794;
}
.timeline > li .timeline-image h4 {
    font-size: 10px;
    line-height: 14px;
    margin-top: 12px;
}
.timeline > li.timeline-inverted > .timeline-panel {
    float: right;
    padding: 0 20px 0 100px;
    text-align: left;
}
.timeline > li.timeline-inverted > .timeline-panel:before {
    right: auto;
    left: -15px;
    border-right-width: 15px;
    border-left-width: 0;
}
.timeline > li.timeline-inverted > .timeline-panel:after {
    right: auto;
    left: -14px;
    border-right-width: 14px;
    border-left-width: 0;
}
.timeline > li:last-child {
    margin-bottom: 0;
}
.timeline .timeline-heading h4 {
    margin-top: 0;
    color: inherit;
}
.timeline .timeline-heading h4.subheading {
    text-transform: none;
}
.timeline .timeline-body > ul,
.timeline .timeline-body > p {
    margin-bottom: 0;
}
@media (min-width: 768px) {
    .timeline:before {
        left: 50%;
    }
    .timeline > li {
        min-height: 100px;
        margin-bottom: 100px;
    }
    .timeline > li .timeline-panel {
        float: left;
        width: 41%;
        padding: 0 20px 20px 30px;
        text-align: right;
    }
    .timeline > li .timeline-image {
        left: 50%;
        width: 100px;
        height: 100px;
        margin-left: -50px;
    }
    .timeline > li .timeline-image h4 {
        font-size: 13px;
        line-height: 18px;
        margin-top: 16px;
    }
    .timeline > li.timeline-inverted > .timeline-panel {
        float: right;
        padding: 0 30px 20px 20px;
        text-align: left;
    }
}
@media (min-width: 992px) {
    .timeline > li {
        min-height: 150px;
    }
    .timeline > li .timeline-panel {
        padding: 0 20px 20px;
    }
    .timeline > li .timeline-image {
        width: 150px;
        height: 150px;
        margin-left: -75px;
    }
    .timeline > li .timeline-image h4 {
        font-size: 18px;
        line-height: 26px;
        margin-top: 30px;
    }
    .timeline > li.timeline-inverted > .timeline-panel {
        padding: 0 20px 20px;
    }
}
@media (min-width: 1200px) {
    .timeline > li {
        min-height: 170px;
    }
    .timeline > li .timeline-panel {
        padding: 0 20px 20px 100px;
    }
    .timeline > li .timeline-image {
        width: 170px;
        height: 170px;
        margin-left: -85px;
    }
    .timeline > li .timeline-image h4 {
        margin-top: 40px;
    }
    .timeline > li.timeline-inverted > .timeline-panel {
        padding: 0 100px 20px 20px;
    }
}
.team-member {
    text-align: center;
}
.team-member img {
    width: 225px;
    height: 225px;
    border: 7px solid white;
}
.team-member h4 {
    margin-top: 25px;
    margin-bottom: 0;
    text-transform: none;
}
.team-member p {
    margin-top: 0;
}
.about-description {
    max-width: 80%;
}
@media (max-width: 800px) {
    .about-description {
        text-align: center;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
}
footer {
    padding: 25px 0;
    text-align: center;
}
footer span.copyright {
    font-size: 90%;
    line-height: 40px;
    text-transform: none;
    font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-transform: uppercase;
}
footer ul.quicklinks {
    font-size: 90%;
    line-height: 40px;
    margin-bottom: 0;
    text-transform: none;
    font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-transform: uppercase;
}
ul.social-buttons {
    margin-bottom: 0;
}
ul.social-buttons li a {
    font-size: 20px;
    line-height: 40px;
    display: block;
    width: 40px;
    height: 40px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    color: white;
    border-radius: 100%;
    outline: none;
    background-color: #222222;
}
ul.social-buttons li a:active,
ul.social-buttons li a:focus,
ul.social-buttons li a:hover {
    background-color: #4e2794;
}
.flex-align-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.text-primary {
    color: #4e2794 !important;
}
.btn-primary {
    font-weight: 700;
    color: white;
    border-color: #381b6d;
    background-color: #4e2794;
    font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-transform: uppercase;
}
.btn-primary.focus,
.btn-primary:focus {
    color: white;
    border-color: #381b6d;
    background-color: #4e2794;
}
.btn-primary:hover {
    color: white;
    border-color: #381b6d;
    background-color: #4e2794;
}
.btn-primary.active,
.btn-primary:active,
.open > .btn-primary.dropdown-toggle {
    color: white;
    border-color: #381b6d;
    background-color: #4e2794;
}
.btn-primary.active.focus,
.btn-primary.active:focus,
.btn-primary.active:hover,
.btn-primary:active.focus,
.btn-primary:active:focus,
.btn-primary:active:hover,
.open > .btn-primary.dropdown-toggle.focus,
.open > .btn-primary.dropdown-toggle:focus,
.open > .btn-primary.dropdown-toggle:hover {
    color: white;
    border-color: #381b6d;
    background-color: #4e2794;
}
.btn-primary.active,
.btn-primary:active,
.open > .btn-primary.dropdown-toggle {
    background-image: none;
}
.btn-primary.disabled.focus,
.btn-primary.disabled:focus,
.btn-primary.disabled:hover,
.btn-primary[disabled].focus,
.btn-primary[disabled]:focus,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary.focus,
fieldset[disabled] .btn-primary:focus,
fieldset[disabled] .btn-primary:hover {
    border-color: #381b6d;
    background-color: #4e2794;
}
.btn-primary .badge {
    color: #4e2794;
    background-color: white;
}
.btn-xl {
    font-size: 18px;
    font-weight: 700;
    padding: 20px 40px;
    border-radius: 0.5rem;
    color: white;
    border-color: #381b6d;
    background-color: #4e2794;
    font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-transform: uppercase;
}
.btn-xl.focus,
.btn-xl:focus {
    color: white;
    border-color: #381b6d;
    background-color: #4e2794;
}
.btn-xl:hover {
    color: white;
    border-color: #381b6d;
    background-color: #4e2794;
}
.btn-xl.active,
.btn-xl:active,
.open > .btn-xl.dropdown-toggle {
    color: white;
    border-color: #381b6d;
    background-color: #4e2794;
}
.btn-xl.active.focus,
.btn-xl.active:focus,
.btn-xl.active:hover,
.btn-xl:active.focus,
.btn-xl:active:focus,
.btn-xl:active:hover,
.open > .btn-xl.dropdown-toggle.focus,
.open > .btn-xl.dropdown-toggle:focus,
.open > .btn-xl.dropdown-toggle:hover {
    color: white;
    border-color: #381b6d;
    background-color: #4e2794;
}
.btn-xl.active,
.btn-xl:active,
.open > .btn-xl.dropdown-toggle {
    background-image: none;
}
.btn-xl.disabled.focus,
.btn-xl.disabled:focus,
.btn-xl.disabled:hover,
.btn-xl[disabled].focus,
.btn-xl[disabled]:focus,
.btn-xl[disabled]:hover,
fieldset[disabled] .btn-xl.focus,
fieldset[disabled] .btn-xl:focus,
fieldset[disabled] .btn-xl:hover {
    border-color: #381b6d;
    background-color: #4e2794;
}
.btn-xl .badge {
    color: #4e2794;
    background-color: white;
}

.about-description {
    color: #f1f1f1;
    text-align: center;
}

.proj-title {
    font-weight: bold;
}

.portfolioSec {
    background-color: #8473a2bf
}

.meSec {
    background-color: #4e279469;
    color: #f1f1f1;
    padding-top: 15px;
}

.projects-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(400px,1fr));
    grid-gap: 2.5rem;
}