
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

header {
  background-color: #73AEDB;
  text-align: center;
  color:#fcf064;
  font-size: 3em;
}

footer {
  background-color:  black;
  text-align: center;
  color:lightblue;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.submitBtn {
  border: 1px solid black;
}

.form-group input {
  min-width: 230px;
}
