body {
    background-color: black;
    text-align: center;
}

h1 {
    color: hotpink;
}

.black {
    background-color: gray
}
.white {
    background-color:rgb(236, 245, 245);
}

.selected {
    outline: 5px solid orange;
}


.mark {
    background-color: lightpink
}

.center {
    margin-left: auto;
    margin-right: auto;
}
.game-board td {
    width: 40px;
    height:40px;
    text-align: center;
    font-size:1.4em;
}

